*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/*-- Colores--*/
:root{
/* Color Theme Swatches in RGBA */
--secundario: rgba(212, 139, 159, 1);
--primario:rgba(1, 57, 116, 1);
--cuarto: rgba(85, 123, 162, 1);
--quinto:rgba(251, 242, 245, 1);
--tercero:rgba(30, 30, 30, 1);
--colorbody: white;

/*-- Fuentes y tipografias--*/
--fuenteprincipal:'Barlow Condensed', sans-serif;
--fuentetexto: 'Roboto', sans-serif;
--fuentetexto2: 'Oswald', sans-serif;
}

/*-- Body--*/
.body{
    background-color: white;
}

/*-----Terminos y condiciones-----*/
.terminos {
    background-color: var(--primario);
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 30px;
}

.terminos h1{
    width: 80%;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    font-family: var(--fuenteprincipal);
    padding-bottom: 30px;
}

.secterminos{
    margin: auto;
    width: 80%;
    font-family: var(--fuentetexto2);
    font-weight: 200;
    font-size: 18px;
}

.inicialtp {
    color: var(--tercero);
}

/*--Acordeón--*/

.accordion {
    background-color: yellowgreen;
    margin: 50px 0px;
}
.accordion-button{
    color: var(--primario);
}

.accordion-button::after{
    color: var(--primario);
}