*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/*-- Fuentes de google fonts--*/

/*-- Colores--*/
:root{
/* Color Theme Swatches in RGBA */
--secundario: rgba(212, 139, 159, 1);
--primario:rgba(1, 57, 116, 1);
--cuarto: rgba(85, 123, 162, 1);
--quinto:rgba(251, 242, 245, 1);
--tercero:rgba(30, 30, 30, 1);
--colorbody: white;

/*-- Fuentes y tipografias--*/
--fuenteprincipal:'Barlow Condensed', sans-serif;
--fuentetexto: 'Roboto', sans-serif;
--fuentetexto2: 'Oswald', sans-serif;
}
/*-- Body--*/

.body{
    background-color: white;
}

/*-- Barra de navegación--*/
.nav{
}

.barra{
    background-color: rgb(246, 246, 246);
}
.navbar{
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: 999;
}


.nav-link{
}
.lge{
    height: 90px;
    margin: 0px 40px;
}

.lge img{
    height: 100%;
}

.navbar-toggler{
}
.navbar-toggler-icon{
}
.navbar-collapse{
}
.collapse{
}

.navbar-nav{
    text-transform: uppercase;
    border: none;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

#navbarSupportedContent{
}

nav .navbar-nav li a{
    font-size: 20px;
    font-family: var(--fuenteprincipal);
    font-weight: 400;
    margin-right: 30px;
}

.nav-link{
}

nav .navbar-nav li a:before{
}

nav .navbar-nav li a:hover {
}

nav .navbar-nav li a:hover::before{
}
.dropdown-menu{
}
.dropdown-item{
}

.btnv{
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.042);
}
.btnv1{
    color: var(--secundario);
    transition: 0.5s;
}
.btnv2{
    color: var(--secundario);
    transition: 0.5s;
}

.btnv3{
    color: var(--secundario);
    transition: 0.5s;
}

.btnv1:hover{
    background-color: var(--secundario);
    color: white;
}
.btnv2:hover{
    background-color: var(--secundario);
    color: white;
}
.btnv3:hover{
    background-color: var(--secundario);
    color: white;
}

/*-- Barra de busqueda--*/

.iconinter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100%;
    margin: 0px 10px 0px 0px;
    padding-left: 0px;
}

.busqueda{
    width: 300px;
    height: 50px;
    display: grid;
    place-items:end;
}
.search{
    position: relative;
    width: 50px;
    height: 100%;
    overflow: hidden;
    transition: width .5s cubic-bezier(.9, 0, .3, .9);
    border-bottom: solid 1px var(--secundario);
}

.search__input{
    border:none;
    outline: none;
    width: calc(100% - 50px);
    height: 100%;
    background-color: #b5cadf00;
    
    font-family: var(--fuenteprincipal);
    font-size: medium;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1.5s;
}

.search__input.search__input:-webkit-autofill{
}

.search__button{
    width: 30px;
    height: 30px;
    background-color: var(--secundario);
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: transform .6s cubic-bezier(.9, 0, .3, .9);
}

.search__icon,
.search__close{
    color: #F8F9FA;
    font-size: 1.5rem;
    position: absolute;
    transition: opacity .5s cubic-bezier(.9, 0, .3, .9);
}

.search__close{
    opacity: 0;
}

.wl{
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wishlist{
    height:30px;
    margin-right: 10px;
}
button{
    border: none;
    outline: none;
    background-color: #f6f7f9;
}

/*--Animacion barra busqueda--*/
.show-search{
    width: 100%;
}
.show-search .search__input{
    opacity: 1;
    pointer-events: initial;
}
.show-search .search__button{
    transform: rotate(90deg);
}
.show-search .search__icon{
    opacity: 0;
}
.show-search .search__close{
    opacity: 1;
}

/*--Responsive barra busqueda--*/
@media screen and (min-width: 576px){
    .show-search{
        width: 300px;
    }
}

/*slider*/

.carousel{
}

/*--Frase--*/
.frase{
    background-color: var(--primario);
    margin: 20px 0px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frase p{
    color: white;
    font-family: var(--fuentetexto2);
    font-size: 22px;
    text-align: center;
    font-weight: 200;
    margin: 30px 0px;
}

/*--seccion de categorias--*/

.contenedor {
    width: 100%;
    height: 460px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.sec {
    width: 32%;
    height: 100%;
}
.borde {
    width: 100%;
    height: 100%;
    background-color: var(--blanco);
    position: relative;
    overflow: hidden;
    margin: auto;
}
.borde img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.borde .btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.4s;
    transform: scale(0);
    background-color: rgba(212, 139, 158, 0.619);
}

.borde:hover .btn {
    transform: scale(1);
}

.borde .btn a {
    border: solid white 2px;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-family: var(--fuenteprincipal);
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 400;
    transition: 0.5s;
}
.borde .btn a:hover{
    background-color:var(--quinto); 
    color: var(--secundario);
    font-weight: 400;
    border: none;
  }

.btn2{
    margin: 40px 0px;
}
.btn2 a {
    background-color: var(--secundario);
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-family: var(--fuenteprincipal);
    text-decoration: none;
    padding: 10px 50px;
    font-weight: 400;
    transition: 0.5s;
}
.btn2 a:hover{
    border: solid 2px var(--secundario);
    background-color: white;
    color: var(--secundario);
    font-weight: 400;
}

/*------- categorias -------*/

.cajacat{
    background-image: url(../img/BgIlus.png);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 100px 0px;
}
.cajacat h1{
    text-transform: uppercase;
    font-family: var(--fuenteprincipal);
    text-align: left;
    color: var(--primario);
    font-weight: 500;
    width: 74%;
    padding: 5px 0px;
    margin-bottom: 20px;
}
.categorias{
    width:90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.categorias article{
    width:40%;
    display:flex;
    flex-wrap: wrap;
    margin: 10px 15px;
}
.categorias article h4{
    height: 5%;
    width:100%;
    margin-bottom: 10px;
    font-family: var(--fuentetexto2);
    text-align: left;
    text-transform: uppercase;
    color: var(--tercero);
    font-weight: 400;
    margin-top: 10px;
}
.categorias article p{
    height: 10%;
    font-family: var(--fuentetexto2);
    width:100%;
    text-align: justify;color: var(--tercero);
    font-size: 18px;
    font-weight: 200;
    margin: auto;
}
.categorias article .marco{
    width:100%;
    height: 75%;
}
.categorias article .marco img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.btn3{
    color: var(--secundario);
    text-transform: uppercase;
    font-size: 18px;
    font-family: var(--fuentetexto2);
    font-weight: 400;
    margin: 10px 0px;
    height: 5%;
}

/*-----A cerca de nosotros-----*/
.conocenos {
    background-image: url(../img/categorias/Nosotros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: var(--fuentetexto2);
    height: 630px;
}

.conocenos h1{
    width: 100%;
    height: 32%;
    padding-left: 150px;
    text-align: left;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
    font-family: var(--fuenteprincipal);
    color: var(--primario);
}
.conocenos p{
    width: 100%;
    height: 15%;
    font-size: 22px;
    text-align: left;
    font-weight: 200;
    display: flex;
    align-items: flex-start;
    padding-left: 150px;
}

.conocenos .btn4{
    height: 32%;
    width: 100%;
    padding-left: 150px;
}

.conocenos .btn4 a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
    background-color: var(--primario);
    padding: 8px 50px;
}

.conocenos .btn4 a:hover{
    border: solid 2px var(--primario);
    background-color: white;
    color: var(--primario);
    font-weight: 400;
}

/*-----Red social-----*/

.instagram{
    height: 550px;
    width: 100%;
}

.nombrered{
    width: 100%;
    height: 25%;
    margin: 30px 0px;
}
.nombrered h1{
    font-family: var(--fuenteprincipal);
    font-weight: 500;
    color: var(--primario);
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.nombrered p{
    font-family: var(--fuentetexto2);
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 20px;
    font-weight: 200;
}

.galeriaig{
    width: 98%;
    height: 65%;
}
.galeriaig .imgig{
    display: flex;
    height: 100%;
    justify-content: space-evenly;
}

.galeriaig .imgig a{
    display: flex;
    height: 100%;
    justify-content: space-evenly;
}
.galeriaig .imgig a img{
    object-fit: cover;
    width: 100%;
}
  
/*-----footer-----*/

.info{
    background-color: var(--primario);
    width: 100%;
    height: 390px;
    display: flex;
    justify-content: center;
    padding: 30px;
}
.info .detalle{
    height: 100%;
    width: 25%;
    margin: 0px 15px;
}
.info .detalle .marco1{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: left;
    margin-top: 5px;
}

.info .detalle .marco1 img{ 
    height: 100%;
}
.info .detalle .descripcion{
    margin-top: 25px;
    height: 42%;
}
.info .detalle .descripcion .red1{
    height: 30px;
    width: 100%;
    display: flex;
    margin-top: 5px;
}
.info .detalle .descripcion .red1 img{
    height: 100%;
    margin-right: 10px;
}
.info .detalle .descripcion .red1 p{
    width: 90%;
    height: 100%;
    text-align: left;
    padding-top: 5px;
    font-family: var(--fuentetexto2);
    color: white;
    font-size: 16px;
    font-weight: 200;
}

.info .detalle .descripcion2{
    width: 100%;
    height: 85%;
    color: white;
}
.info .detalle .descripcion2 h5{
    width: 100%;
    font-weight: 500;
    font-family: var(--fuenteprincipal);
}
.h5btn{
    margin-top: 10px;
}
.info .detalle .descripcion2 a{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    font-family: var(--fuentetexto2);
    font-weight: 200;
    font-size: 16px;
}

.info .detalle .social1{
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.info .detalle .social1 a{
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0px 15px;
}
.info .detalle .social1 a img{
    height: 100%;
}

.info .detalle .descripcion4{
    width: 100%;
    height: 22%;
    color: white;
}
.info .detalle .descripcion4 h5{
    font-weight: 600;
    width: 100%;
    font-family: var(--fuenteprincipal);
}
.info .detalle .descripcion4 p{
    width: 100%;
    color: white;
    font-family: var(--fuentetexto2);
    font-size: 16px;
    font-weight: 200;
}

.info .detalle .formulario{
    padding-top: 20px;
    height: 190px;
    color: white;
}
.info .detalle .formulario .form-group{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.info .detalle .formulario .form-control{
    font-family: var(--fuentetexto2);
    font-size: 16px;
    font-weight: 200;
    background-color: white;
    color: #D48B9F;
    border-radius: 15px;
    border: none;
}
.info .detalle .formulario .submit{
    height: 40px;
    margin-left: 10px;
}
.info .detalle .formulario .form-check{
    font-family: var(--fuentetexto2);
    font-size: 13px;
    font-weight: 200;
    margin-top: 10px;
}
.info .detalle .formulario .form-check-input{}
.info .detalle .formulario .form-check-label{}

.submit{
    border-radius: 50%;
}

.info .detalle .formulario .submit img{
    height: 100%;
}

.info .detalle .pago{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.info .detalle .pago .marco2{
    height: 40px;
    margin: 0px 5px;
}
.info .detalle .pago .marco2 img{
    height: 40px;
    border-radius: 7px;
}

/*---Footer---*/

footer{
    background-color: var(--primario);
    color: white;
    font-family: var(--fuentetexto2);
    font-size: 14px;
    font-weight: 200;
    text-align: center;
    padding: 10px;
}



/*---Media queries---*/
@media only screen and (max-width: 1445px){
    .carousel{
        padding-top: 90px;
    }
    .carousel-control-prev{
        padding-top: 10vh;
    }
    .carousel-control-next{
        padding-top: 10vh;
    }
}
@media only screen and (max-width: 1050px){
    .carousel{
        padding-top: 90px;
    }
}
@media only screen and (max-width: 1310px){
.categorias article h4{
    height: 5%;
}
.categorias article p{
    height: 15%;
}
.categorias article .marco{
    height: 70%;
}
.btn3{
    height: 5%;
}
}
@media only screen and (max-width: 992px){
    .contenedor {
    height: 400px;
    }
    .sec {
    width: 31%;
    } 
    .categorias article .marco{
    height: 60%;
    }
    .categorias article p{
    height: 21%;
}
}

@media only screen and (max-width: 768px){
    .carousel{
        padding-top: 100px;
    }
    .frase p{
    font-size: 18px;
    }
    .contenedor {
    height: 330px;
    }
    .sec {
    width: 30%;
    } 
    .categorias article p{
    font-size: 16px;
}
}

@media only screen and (max-width: 685px){
    .categorias article .marco{
    height: 56%;
    }
    .categorias article p{
    height: 23%;
    }
    .categorias article h4{
    height: 6%;
    }
}
@media only screen and (max-width: 578px){
    .carousel{
        padding-top: 110px;
    }
    .frase{
    height: 80px;
    padding: 0px 30px;
    }

    .contenedor {
    height: 1300px;
    justify-content: center;
    }
    .sec {
    width: 90%;
    height: 30%;
    }  
    .btn2{
    margin: 10px 0px;
}
    .carousel-control-prev{
        padding-top: 15vh;
    }
    .carousel-control-next{
        padding-top: 15vh;
    }
    .cajacat{
    margin: 0px 0px;
    padding-bottom: 20px;
}
    .categorias{
    width:80%;
}
    .categorias article{
    width: 90%;
}
.categorias article h4{
    height: 5%;
}
.categorias article p{
    height: 15%;
}
.categorias article .marco{
    height: 68%;
}
.btn3{
    height: 5%;
}
}
@media only screen and (max-width: 400px){
.frase p{
    font-size: 16px;
    } 
.categorias article p{
    height: 20%;
}
.categorias article .marco{
    height: 60%;
}
}

/*--Mq Acerca--*/

@media only screen and (max-width: 1200px){
    .conocenos {
    background-image: url(../img/categorias/Nosotros1200.jpg);
    display: flex;
    justify-content: left;
}
    .conocenos p{
    display: flex;
    align-items: center;
    }
}
@media only screen and (max-width: 1050px){
    .conocenos {
    background-image: url(../img/categorias/Nosotros1050.jpg);
}
    .conocenos p{
    width: 60%;
    height: 25%;
    padding-left: 150px;
}
}
@media only screen and (max-width: 920px){
    .conocenos {
    background-image: url(../img/categorias/Nosotros920.jpg);
}
    .conocenos p{
    width: 65%;
    height: 25%;
    padding-left: 150px;
}
}
@media only screen and (max-width: 850px){
    .conocenos {
    background-image: url(../img/categorias/Nosotros850.jpg);
}
    .conocenos p{
    width: 65%;
    height: 25%;
    padding-left: 150px;
}
}
@media only screen and (max-width: 775px){
    .conocenos {
    background-image: url(../img/categorias/Nosotros775.jpg);
}
    .conocenos p{
    width: 60%;
    height: 25%;
    padding-left: 80px;
    font-size: 20px;
}
.conocenos h1{
    padding-left: 80px;
    height: 30%;
}

.conocenos .btn4{
    padding-left: 80px;
    height: 30%;
}
}

@media only screen and (max-width: 700px){
    .conocenos {
    background-image: url(../img/categorias/Nosotros700.jpg);
}
    .conocenos p{
    width: 65%;
    font-size: 18px;
}
.conocenos .btn4 a {
    font-size: 18px;
    padding: 5px 40px;
}
}
@media only screen and (max-width: 615px){
    .conocenos {
    height: 570px;
    font-size: 16px;
}
.conocenos p{
    width: 58%;
    height: 25%;
    font-size: 18px;
    padding-left: 50px;
}
.conocenos h1{
    padding-left: 50px;
}

.conocenos .btn4{
    padding-left: 50px;
}
.conocenos .btn4 a {
    font-size: 18px;
    padding: 5px 30px;
}
}

@media only screen and (max-width: 583px){
.conocenos p{
    width: 58%;
}
}

@media only screen and (max-width: 560px){
    .conocenos {
        height: 500px;
        font-size: 16px;
    }
    .conocenos p{
        height: 35%;
    }
    .conocenos h1{
        height: 25%;
    }
    
    .conocenos .btn4{
        height: 25%;
    }
}

@media only screen and (max-width: 485px){
    .conocenos {
        height: 470px;
    }
    .conocenos p{
        font-size: 16px;
    }
}

@media only screen and (max-width: 450px){
    .conocenos {
        height: 60vh;
    }
    .conocenos p{
        font-size: 14px;
        width: 50%;
    }
    .conocenos h1{
        font-size: 22px;
    }
    .conocenos .btn4 a {
        font-size: 16px;
        padding: 5px 20px;
    }
}

@media only screen and (max-width: 385px){
    .conocenos {
        height: 55vh;
    }
    .conocenos p{
        font-size: 14px;
        width: 55%;
        padding-left: 25px;
    }
    .conocenos h1{
        font-size: 22px;
        padding-left: 25px;
    }
    .conocenos .btn4 a {
        font-size: 16px;
        padding: 5px 10px;
    }
    .conocenos .btn4 {
        padding-left: 25px;
    }
}

/*--Mq footer--*/
@media screen and (max-width:1335px) {}

@media screen and (max-width:1200px) {

    .info .detalle{
        min-width: 225px ;
    }
}

@media screen and (max-width:992px) {
    .instagram{
        height: 800px;
    }
    .galeriaig{
        width: 97%;
    }
    .galeriaig .imgig{
        height: 62%;
    }
    .galeriaig .imgig a{
       margin: 0px 0px;
    }
    .galeriaig .imgig a img{
        height: 90%;
     }
     .nombrered{
        height: 15%;
    }
}

@media screen and (max-width:768px) {
    .info{
        min-height: 1050px;
        display: flex;
        flex-wrap: wrap;
    }
    .info .detalle{
        max-height: 320px;
        min-width: 65%;
    }
    .detalle h5{
        text-align: center;
    }
    .info .detalle .marco1{
        min-height: 150px;
    }
    .info .detalle .marco1 img{
        margin: auto;
    }


    .instagram{
        height: 750px;
    }
    .nombrered{
        height: 15%;
    }
    .galeriaig{
        width: 97%;
    }
    .galeriaig .imgig{
        height: 62%;
    }
    .galeriaig .imgig a{
       margin: 0px 0px;
    }
    .galeriaig .imgig a img{
        height: 90%;
     }
}
@media screen and (max-width:578px) {
    .instagram{
        height: 1500px;
    }
    .galeriaig{
        width: 80%;
    }
    .galeriaig .imgig{
        height: 34%;
    }
    .galeriaig .imgig a{
       margin: 0px 0px;
    }
    .galeriaig .imgig a img{
        height: 90%;
    }

    .nombrered{
        height: 10%;
    }

    .info .detalle{
        min-width: 80%;
    }
}