*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/*-- Colores--*/
:root{
/* Color Theme Swatches in RGBA */
--secundario: rgba(212, 139, 159, 1);
--primario:rgba(1, 57, 116, 1);
--cuarto: rgba(85, 123, 162, 1);
--quinto:rgba(251, 242, 245, 1);
--tercero:rgba(30, 30, 30, 1);
--colorbody: white;

/*-- Fuentes y tipografias--*/
--fuenteprincipal:'Barlow Condensed', sans-serif;
--fuentetexto: 'Roboto', sans-serif;
--fuentetexto2: 'Oswald', sans-serif;
}
/*-- Body--*/

.body{
    background-color: white;
}

.servicio{
    padding-top: 130px;
    margin-bottom: 15px;
}
.servicio h1{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--fuenteprincipal);
    color: var(--primario);
}
.servicio .subtser{
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-family: var(--fuentetexto2);
    color: var(--primario);
    font-size: 22px;
    padding-bottom: 20px;
}

.serv{
    margin: auto;
    text-align: center;
    font-family: var(--fuentetexto2);
    font-size: 24px;
}
.itemserv1{
    height: 400px;
    background-color: var(--primario);
    display: flex;
    flex-wrap: wrap;
}

.itemserv2{
    height: 400px;
    background-color: rgba(182, 182, 182, 0.464);
    display: flex;
    flex-wrap: wrap;
}
.itemserv3{
    height: 400px;
    background-color: var(--secundario);
    display: flex;
    flex-wrap: wrap;
}
.itemserv4{
    height: 400px;
    background-color: rgba(215, 151, 168, 0.666);
    display: flex;
    flex-wrap: wrap;
}
.itemserv5{
    height: 400px;
    background-color: rgba(213, 213, 213, 0.468);
    display: flex;
    flex-wrap: wrap;
}
.itemserv6{
    height: 400px;
    background-color: var(--cuarto);
    display: flex;
    flex-wrap: wrap;
}

/*--texto--*/

.itemserv1 p{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    color: white;
    font-weight: 200;
}
.itemserv2 p{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    font-weight: 200;
}
.itemserv3 p{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    color: white;
    font-weight: 200;
}
.itemserv4 p{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    color: white;
    font-weight: 200;
}
.itemserv5 p{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    font-weight: 200;
}
.itemserv6 p{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    color: white;
    font-weight: 200;
}

/*--botones--*/

.s1{
    width: 100%;
    height: 50%;
    text-align: center;
    background-color: rgba(23, 16, 209, 0);
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.s2{
    width: 100%;
    height: 50%;
    text-align: center;
    background-color: rgba(23, 16, 209, 0);
    color: var(--primario);
    text-decoration: none;
    font-weight: 300;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.s3{
    width: 100%;
    height: 50%;
    text-align: center;
    background-color: rgba(23, 16, 209, 0);
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.s4{
    width: 100%;
    height: 50%;
    text-align: center;
    background-color: rgba(23, 16, 209, 0);
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.s5{
    width: 100%;
    height: 50%;
    text-align: center;
    background-color: rgba(23, 16, 209, 0);
    color: var(--secundario);
    text-decoration: none;
    font-weight: 300;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.s6{
    width: 100%;
    height: 50%;
    text-align: center;
    background-color: rgba(23, 16, 209, 0);
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


/*---Formularios---*/

.modal-title{
    height: 50px;
}

.modal-header{
    border-bottom: solid 2px var(--primario);
}

/*--Modal 2--*/

.modal{
    background-color: rgba(255, 255, 255, 0.779);
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.244);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(82, 71, 76, 0.1);
    backdrop-filter: blur(8.8px);
    border: none;
    color: var(--tercero);
}
.modal-title{
    color: rgb(156, 87, 106);
}

.modal-header h1{
    color: var(--primario);
}

.modal-body2{
    margin: 20px 30px;
}
.form-label{
    color: var(--tercero);
    font-size: 18px;
    font-family: var(--fuentetexto2);
    font-weight: 300;
    display: flex;
    justify-content: left;
}
.ciudad{
    color: rgb(156, 87, 106);
    font-size: 16px;
    font-family: var(--fuentetexto2);
    font-weight: 300;
    width: 100%;
    margin-top: 10px;
}

.form-select{
    background-color: rgba(200, 124, 145, 0);
    border: solid 1px rgba(200, 124, 146, 0.873);
    border-radius: 20px;
    font-weight: 400;
    color: rgba(200, 124, 146, 0.873);
}
.form-control{
    background-color: rgba(200, 124, 145, 0);
    border: solid 1px #c87c92df;
    border-radius: 20px;
}
.form-check-input1{
    border: none;
    border-color: #0d6dfd00;
}
.form-check-input1:checked{
    background-color: var(--primario);
    border-color: #0d6dfd00;
}
.form-check-label1{
    font-size: 16px;
    color: var(--primario);
    font-weight: 400;
    font-family: var(--fuentetexto2);
    margin-top: 5px;
}

.submitbt{
    background-color: var(--primario);
    padding: 5px 50px;
    font-size: 20px;
    color: white;
    font-weight: 300;
    font-family: var(--fuenteprincipal);
    text-transform: uppercase;
}
/*--Fin modal 2--*/

/*--Modal 3--*/
.accordion{
    background-color: rgba(255, 255, 255, 0);
    margin: 20px;
}
.accordion-item{
    font-size: 18px;
    font-family: var(--fuentetexto2);
    font-weight: 200;
    text-align: left;
}
.accordion-button{
    font-size: 18px;
    font-family: var(--fuentetexto2);
    font-weight: 300;
    text-align: left;
    color: var(--primario);
}
.accordion-button .collapsed{
}

/*--Fin modal 3--*/

.intropqrs{
    height: 50px;
    width: 100%;
    padding-top: 100px;
}
.intropqrs p{
    color: black;
}

.modal-body5 {
    margin: 30px 0px 20px 0px;
}
.modal-body5 h5{
    font-weight: 300;
    color: rgb(156, 87, 106);
    text-align: left;
    padding:0px 40px;
}
.modal-body5 .tp{
    height: 60px;
    font-family: var(--fuentetexto2);
    font-weight: 200;
    font-size: 16px;
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: center;
    padding:0px 40px;
    width: 100%;
}
.modal-body5 .tfp{
    height: 80px;
    font-family: var(--fuentetexto2);
    font-weight: 200;
    font-size: 16px;
    text-align: left;
    padding:0px 40px;
    width: 100%;
}
.modal-body5 .infop{
    height: 240px;
    font-family: var(--fuentetexto2);
    font-weight: 200;
    font-size: 16px;
    text-align: left;
    padding:0px 40px;
    width: 100%;
}
.modal-body5 .atencionp{
    height: 30px;
    font-family: var(--fuentetexto2);
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding:0px 40px;
    width: 100%;
}

/*---Media queries---*/
@media only screen and (max-width: 1335px){}
@media only screen and (max-width: 1200px){
    .modal-body5 .tp{
    }
    .modal-body5 .tfp{
        height: 100px;
    }
    .modal-body5 .infop{
        height: 350px;
    }
    .modal-body5 .atencionp{
    }
}
@media only screen and (max-width: 992px){
    .modal-body5 .tp{
    }
    .modal-body5 .tfp{
        height: 180px;
    }
    .modal-body5 .infop{
        height: 530px;
    }
    .modal-body5 .atencionp{
    }
}
@media only screen and (max-width: 786px){
    .modal-body5 .tp{
    }
    .modal-body5 .tfp{
        height: 180px;
    }
    .modal-body5 .infop{
        height: 530px;
    }
    .modal-body5 .atencionp{
    }
}
@media only screen and (max-width: 568px){
    .modal-body5 .tp{
    }
    .modal-body5 .tfp{
        height: 200px;
    }
    .modal-body5 .infop{
        height: 550px;
    }
    .modal-body5 .atencionp{
    }
}

.modal-body6 {
    margin: 30px 0px 20px 0px;
}
.modal-body6 h5{
    font-weight: 300;
    color: rgb(132, 62, 81);
    text-align: left;
    padding:0px 40px;
}
.modal-body6 .tp{
    height: 70px;
    font-family: var(--fuentetexto2);
    color: rgb(156, 87, 106);
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    padding:0px 40px;
    width: 100%;
}
.modal-body6 .tfp{
    height: 120px;
    font-family: var(--fuentetexto2);
    font-weight: 200;
    font-size: 16px;
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: center;
    padding:0px 40px;
    width: 100%;
    color: var(--tercero);
}
.modal-body6 .infop{
    height: 30px;
    font-family: var(--fuentetexto2);
    font-weight: 200;
    font-size: 16px;
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: center;
    padding:0px 40px;
    width: 100%;
    color: var(--tercero);
}
.modal-body6 .atencionp{
    height: 30px;
    font-family: var(--fuentetexto2);
    font-weight: 400;
    padding:0px 40px;
    font-size: 16px;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    width: 100%;
    color: rgb(156, 87, 106);
}
.modal-body6 .atenciona{
    margin: 0px 10px;
    font-weight: 300;
    font-size: 20px;
    font-family: var(--fuentetexto2);
    color: white;
    background-color: var(--primario);
    padding: 5px 50px;
    text-decoration: none;
}

/*---Media queries---*/
@media only screen and (max-width: 1335px){}
@media only screen and (max-width: 1200px){
    .modal-body6 .tp{
    }
    .modal-body6 .tfp{
        height: 130px;
    }
    .modal-body6 .infop{
        height: 40px;
    }
    .modal-body6 .atencionp{
        height: 40px;
    }
    .modal-body6 .atencionp a{
        height: 20px;
    }
}
@media only screen and (max-width: 992px){
    .modal-body6 .tp{
        height: 100px;
    }
    .modal-body6 .tfp{
        height: 220px;
    }
    .modal-body6 .infop{
        height: 80px;
    }
    .modal-body6 .atencionp{
        height: 80px;
    }
}
@media only screen and (max-width: 786px){
    .modal-body6 .tp{
        height: 100px;
    }
    .modal-body6 .tfp{
        height: 220px;
    }
    .modal-body6 .infop{
        height: 80px;
    }
    .modal-body6 .atencionp{
        height: 80px;
    }
}
@media only screen and (max-width: 568px){
    .modal-body6 .tp{
        height: 120px;
    }
    .modal-body6 .tfp{
        height: 230px;
    }
    .modal-body6 .infop{
        height: 100px;
    }
    .modal-body6 .atencionp{
        height: 100px;
    }
}